#nav-bar {
    background-color: #ff8900 !important;


}


/* .nav-link {
    position: relative !important;
    text-align: center !important;
    justify-content: center;
} */


img {
    display: block !important;
    width: 40px !important;

}



#header {
    font-size: 5em;
    font-family: 'Bonbon', cursive;
    /* text-align: center; */
    padding-left: 1em;

}

#header::first-letter {
    font-size: 6em;
}

#header-img {
    position: absolute;
    padding-top: 13em;
    padding-left: 50px;
    display: block;
    width: 300px !important;
    /* margin: 0 auto; */

}

section {
    height: calc(100vh - 2em);
    padding: 4em;
    align-items: center;
}

#order {
    font-family: 'Rock Salt', cursive;
    text-align: center;
    padding-top: 2em;
}

#order::first-letter {
    font-size: 1em;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2em;
    padding-top: 1.2em;
    line-height: 0.9em;
}

#contact {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 2em;
    line-height: 0.9em;

    text-indent: 1.2em;
}

.contact-details {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    /* font-size: 2.2em; */
    padding-top: 1.2em;
    /* line-height: 0.9em; */
    text-indent: 50px;

}


ul {
    list-style: none;
}